body {
  font-family: "bree serif", serif;
}

.header {
  background-color: rgb(154, 198, 240);
  padding: 20px;
  font-size: 48px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(126, 195, 226);
  overflow: hidden;

  text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: auto;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(17, 52, 83);
  color: rgb(143, 223, 223);
}

.sidebar {
  display: block;
  min-width: 100px;
  padding: 10px 10px 20px 20px;
  margin-left: 60rem;
  margin-top: 2rem;
  background-color: #036666;
  color: #ffffff;
  position: absolute;
}

.main-content {
  padding: 30px 5px 5px 5px;
  flex-flow: wrap;
}

.heading {
  text-align: center;
  text-shadow: 2em;
}

.img-fluid {
  width: 250px;
  float: left;
  padding-right: 20px;
}

/* Style the footer */
.footer {
  clear: both;
  background-color: rgb(154, 198, 240);
  padding: 15px;
  text-align: right;
  color: white;
  margin-top: auto;
}

@media screen and (min-width: 720px) {
  .main-content {
    font-size: 1em;
  }
  .sidebar {
    justify-content: flex-end;
  }
}
