body {
  font-family: "bree serif", serif;
}

.header {
  background-color: rgb(154, 198, 240);
  padding: 20px;
  font-size: 48px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(126, 195, 226);
  overflow: hidden;

  text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: auto;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(17, 52, 83);
  color: rgb(143, 223, 223);
}

.sidebar {
  display: block;
 
  padding: 5px 20px 10px 10px;
 justify-content: flex-end;
  margin-top: 2rem;
  background-color: #036666;
  color: #ffffff;
  position: absolute;
  align-items: stretch;
}

.main-content {
  display: block;
  padding: 25px 20px 10px 20px;
  flex-basis: 5rem;
  word-wrap: break-word;flex-direction: row;
}

.heading {
  text-align: center;
  text-shadow: 2em;
}

.img-fluid {
  width: 250px;
  flex-basis: 5em;
  padding-right: 20px;
  flex-basis: 5rem;
}

/* Style the footer */
.footer {
  clear: both;
  background-color: rgb(154, 198, 240);
  padding: 15px;
  text-align: right;
  color: white;
  margin-top: auto;
}

@media  (min-width: 720px) {
  .main-content {
    flex-shrink: 3;
  }
  .sidebar {
    flex-direction: row;
  }
}
