body {
  font-family: "bree serif", serif;
}

.header {
  background-color: rgb(154, 198, 240);
  padding: 20px;
  font-size: 48px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(126, 195, 226);
  overflow: hidden;

  text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: auto;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(17, 52, 83);
  color: rgb(143, 223, 223);
}

.main-wrapper{
  display: flex;
  
}
.main-content {
  
  width: 80em;
  
}

.box {
  display: inline-block;
  padding: 1rem;
  border: 1px #d6d6d6 solid;
  border-radius: 10px;
  max-width: 17rem;

  margin: 1rem 2rem 2rem 0;
}
.img-box {
  max-width: 16rem;
  max-height: 14rem;
  margin-bottom: 1rem;
  
}
h1{
  
    text-align: center;
  color: #ffffff;
}
h2 {
  text-align: center;
}

p
  {
    text-align: center;
  }

  p:last-child{
    
    color: cornsilk;
    padding: 5px 8px 8px 5px;
  }
.link{

  text-align: center;
}

.sidebar{
  width: 20em;
  background-color: cornflowerblue;
  border-radius: 5px;
 
}
/* Style the footer */
.footer {
  clear: both;
  background-color: rgb(154, 198, 240);
  padding: 15px;
  text-align: right;
  color: white;
  margin-top: auto;
}



@media (min-width: 1200px) {
  .sidebar {
    display: block;
    
    
  }
}